body {
  font-family: Arial, sans-serif; 
  background-color: #caf0f8;
  margin:0;
  padding:0;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.focim {
  font-size: calc(4vw + 20px);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #03045e;
}

.alcim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}


.alcim {
  font-size: calc(3vw + 10px);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-weight: bold;
  margin: 0;
  color: #023e8a;
}

.label-type {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: calc(0.7vw + 10px);
  background-color: #04a7c877;
  padding: 10px 10px;
  border-top: 4px solid #edede9;
  border-bottom: 4px solid #edede9;
  border-radius: 5px;
}

.circle-radio input {
  display: none;
}

.circle-radio span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #03045e;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
}

.circle-radio input:checked + span {
  background-color: #023e8a;
}

.circle-radio {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.controls input[type="file"] {
  display: none;
}

.btn {
  font-size: calc(0.7vw + 10px);
  font-weight: 800;
  line-height: 1.2;
  font-family: Arial, sans-serif;
  padding: 15px 10px;
  border-radius: 6px;
  border: black 2px solid; 
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: #90e0ef;
  color: #0b0b0b;
  box-shadow: 0 6px 20px rgba(0,0,0,0.8);
  transition: transform 0.2s, background 0.2s;
  width: 40%;
}

.controls .btn:nth-of-type(1) {
  background: #90e0ef;
}
.controls .btn:nth-of-type(1):hover {
  background: #00b4d8;
}

.controls .btn:nth-of-type(2) {
  background: #90e0ef;
}
.controls .btn:nth-of-type(2):hover {
  background: #00b4d8;
}

.page {
  width: 210mm;
  height: 280mm;
  padding: 5mm;
  box-sizing: border-box;
  border: black 1px solid;
  display: grid;
  grid-template-columns: repeat(3, 66mm);
  grid-template-rows: repeat(8, 32mm);
  gap: 1mm;
  margin: 0;
  background-color: white;
}

#labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.page:not(:last-child) {
  page-break-after: always;
}

.label {
  width: 66mm;
  height: 32mm;
  border: 1px solid #000000;
  padding: 1mm;
  font-family: Calibri, sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5mm;
  position: relative;
  box-sizing: border-box;
}
.logo {
  width: 60px;
  position: absolute;
  top: 8x;
  right: 8px;
}
.line1 {
  font-weight: bold;
  font-family: Calibri, sans-serif;
  font-size: 11pt;
}
.line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  width: 100%;
  overflow: visible;
}

.line2 .left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kiszereles {
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  position: absolute;
  top: 24px;
  right: 75px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top:8px;
}

.price-box1,
.price-box2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
}

.price-box1 {
  border: 0.5px solid black;
  width: 100px;
  height: 35px;
  padding: 0 5px;
  font-weight: bold;
  bottom: 4mm;
  right: 4mm;
}

.price-box2 {
  width: 70px;
  height: 10px;
  padding: 0 5px;
  font-weight: normal;
  bottom: 15mm;
  right: 2.5mm;
}

.price-box1 .amount {
  flex: 1;
  font-size: 14pt;
  text-align: right;
  flex-shrink: 0;
  min-width: 60px;
}

.price-box1 .unit {
  text-align: right;
  white-space: nowrap;
  font-size: 14pt;
}

.price-box2 .amount {
  flex: 1;
  font-size: 8pt;
  text-align: right;
  flex-shrink: 0;
  min-width: 60px;
}

.price-box2 .unit {
  text-align: right;
  white-space: nowrap;
  font-size: 8pt;
}


#infoIcon {
  width: calc(4vw + 10px);
  height: calc(4vw + 10px);
  cursor: pointer;
  transition: 0.2s;
}

#infoIcon:hover {
  content: url("info_darker.png");
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.75);
}

.modal-content {
  background-color: #caf0f8;
  text-align: left;
  font-size: calc(1.1vw + 10px);
  margin: 10% auto;
  padding: 15px;
  color: #03045e;
  border-radius: 12px;
  border: #000000 4px solid;
  width: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease;
}

#closeBtnBottom {
  margin-top: 15px ;
  margin-bottom: 15px;
  width: 40%;
  padding: 10px;
  font-size: calc(1vw + 10px);
  background-color: #90e0ef;
  color: #03045e;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

#closeBtnBottom:hover {
  background-color: #00b4d8;
}

.barcode {
  width: 100%;
  max-width: 120px;
  height: auto;
  position: absolute;
  bottom: 1mm;
  left: 1mm;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  color: #d90429;
  padding: 2px 4px;
  border-radius: 3px;
}